[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
paradag = {ref = "master", git = "git+https://github.com/0hsn/paradag.git"}

[dev-packages]
mypy = "*"
black = "*"
flake8 = "*"
pylint = "*"
pytest = "*"

[requires]
python_version = "3.11"
