astroid==3.1.0; python_full_version >= '3.8.0'
black==24.3.0; python_version >= '3.8'
click==8.1.7; python_version >= '3.7'
dill==0.3.8; python_version >= '3.11'
flake8==7.0.0; python_full_version >= '3.8.1'
iniconfig==2.0.0; python_version >= '3.7'
isort==5.13.2; python_full_version >= '3.8.0'
mccabe==0.7.0; python_version >= '3.6'
mypy==1.9.0; python_version >= '3.8'
mypy-extensions==1.0.0; python_version >= '3.5'
packaging==24.0; python_version >= '3.7'
pathspec==0.12.1; python_version >= '3.8'
platformdirs==4.2.0; python_version >= '3.8'
pluggy==1.4.0; python_version >= '3.8'
pycodestyle==2.11.1; python_version >= '3.8'
pyflakes==3.2.0; python_version >= '3.8'
pylint==3.1.0; python_full_version >= '3.8.0'
pytest==8.1.1; python_version >= '3.8'
tomlkit==0.12.4; python_version >= '3.7'
typing-extensions==4.10.0; python_version >= '3.8'
paradag@ git+https://github.com/0hsn/paradag.git@38b0a0acf9cde9c56271262eba0b9f3d70db5313
